{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul>

{% for s in shows %}
    <ul>
        <li>({s.id})</li>
        <li>({s.artist_id})</li>
        <li>({s.venue_id})</li>
        <li>({s.start_time|datetime('full')})</li>
    </ul>
{% endfor %}
{% endblock %}